{% extends "layout.html" %}

{% block title %}contact{% endblock %}

{% block head %}
<script src="/static/contact.js"></script>
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block content %}
<div style="padding: 40px 0px;">

	<div class="row">
		<div class="col s12 m12 l12">
			<div class="tui-window" style="text-align: left; width: 100%;">
				<fieldset class="tui-fieldset">
					<legend class="center">Qwerty Querty</legend>
					<span class="tui-fieldset-text top left">[Contact Book]</span>
					<span class="tui-fieldset-button right"><span class="green-255-text">■</span></span>

					<div class="row">
						<div class="col s2 m2 l2">
							<fieldset class="tui-fieldset no-legend tui-border-solid">
								<legend class="center">Contacts</legend>
								<ul>
									<li class="cyan-255 black-255-text">
										<a href="#!">
											<span>Qwerty</span>
										</a>
									</li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
									<li class="cyan-255-hover black-255-text-hover"><a href="#!"><span>(empty)</span></a></li>
								</ul>
							</fieldset>
						</div>
						<div class="col s10 m10 l10">
							<br>
							<div class="center yellow-255-text red-168">Qwerty Querty</div>
							<br>
							<div class="row">
								<div class="col s6 m6 l6">
									Name.......: <input class="tui-input" value="Qwerty Querty" /><br><br>
									Email......: <input class="tui-input" value="qwertytrogi@gmail.com" /><br><br>
									Country....: <input class="tui-input" value="United States" /><br><br>
									City.......: <input class="tui-input" value="Cedar Rapids, Iowa" /><br><br>
								</div>
								<div class="col s6 m6 l6">
									Discord....: <input class="tui-input" value="qwerty#6768" /><br><br>
									Reddit...: u/<input class="tui-input" value="qwerty_trogi" /><br><br>
									GitHub.....: <input class="tui-input" value="qwertyquerty" /><br><br>
									Website....: <input class="tui-input" value="https://qtqt.cf/" /><br><br>
								</div>
							</div>
							<a class="tui-button orange-168 white-text" href="mailto:qwertytrogi@gmail.com">Send Email</a>
							<a class="tui-button cyan-168 white-text" href="https://discord.gg/JF3kg77">Join Discord</a>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
{% endblock %}